/*working codepen example https://codepen.io/mah5167/pen/NWRGzrX */

.playkit-player-gui {
  font-family: "aktiv-grotesk", sans-serif !important;
}
.playkit-player .playkit-time-display {
  font-family: "aktiv-grotesk", sans-serif !important;
}
/* .playkit-pre-playback-play-overlay .playkit-pre-playback-play-button{
  background-color: rgba(26,86,50,.9);
} */



.playkit-pre-playback-play-button {
  background-color:blue;
